.container {
    background-color: #217fa4;
    font-family: "Aoboshi One", sans-serif;
    height: 100vh;
}

.h1 {
    font-size: 45px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input {
    width: 300px;
    padding: 15px;
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
}

.button {
    padding: 10px;
    background-color: #004d5a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultItem {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    width: 80%;
    text-align: center;
}