* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #217FA4;
}

#menuBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #053d63;
}

.eve {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #053d63;
}

.div-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #217FA4;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

.divcard {
    background-color: #419CBF;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.imgnh {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;   
}
.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h3{
    justify-content: center;
    align-items: center;
    text-align: center;
}
p{
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 600px) {
    .divcard {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .divcard {
        width: 30%;
    }
}
