* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main {
    text-align: center;
    padding: 50px 0;
}
body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #217FA4;
}

.div-cards {
    background-color:  #217FA4;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

h1{
    text-align: center;
    font-size: 500%;
}
.eve{
    background-color: #016085;
    border-radius: 35px;
    max-width: 500px;
    min-height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 70px auto 30px;
}
.imgnh{
    width: 350px;
    height: 200px;
    margin: 0 auto;
    display: block;
    border: #217FA4;
    text-align: center;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;   
}
.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h3{
    justify-content: center;
    align-items: center;
    text-align: center;
}
p{
    justify-content: center;
    align-items: center;
    text-align: center;
}