body{
    background-color: #217FA4;
}
.div-card{
    max-width: 383px;
    min-height: 598px;
    border: 2px solid #419CBF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color: #419CBF;
}
.div-cards{
    border: 3px solid #217FA4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
}
h1{
    text-align: center;
    font-size: 500%;
}